<p-dataTable [value]="lancamentosGrid" [paginator]="true" [rows]="2" [responsive]="true"
  emptyMessage="Nenhum lançamento encontrado">
    <p-column field="pessoa" header="Pessoa"></p-column>
    <p-column field="descricao" header="Descrição"></p-column>
    <p-column field="dataVencimento" header="Vencimento" styleClass="col-data"></p-column>
    <p-column field="dataRecebimento" header="Pagamento" styleClass="col-data"></p-column>
    <p-column field="valor" header="Valor" styleClass="col-valor">
    	<ng-template let-lanc="rowData" pTemplate="body">
    		<span [style.color]="lanc.tipo === 'DESPESA' ? 'red' : 'blue' ">{{lanc.valor}}</span>
    	</ng-template>
    </p-column>

    <p-column styleClass="col-acoes">
    	<ng-template let-lanc="rowData" pTemplate="body">

        <button pButton icon="fa-pencil"
        pTooltip="Editar"
        tooltipPosition="top"
        [routerLink]="['/lancamentos/novo', lanc.id]"></button>

        <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"></button>
    	</ng-template>
    </p-column>
</p-dataTable>
