<nav class="navbar">
	<div class="container">
		<div class="ui-g">
			<div class="ui-g-12">
				<a href="javascript:;" class="navbar-toggle" (click)="statusNavBar()"><i class="fa fa-bars"></i></a>
			</div>
		</div>
	</div>

	<ul class="navbar-menu" [hidden]="exibindoMenu">
		<li class="navbar-usuario">Sérgio</li>
		<li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/lancamentos">Lançamentos</a></li>
		<li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/pessoas">Pessoas</a></li>
		<li class="navbar-menuitem"><a href="#">Logout</a></li>
	</ul>
</nav>
