<div class="container">
    
  <div class="ui-g">
  
    <div class="ui-g-12 ui-md-9 ui-fluid">
      <label>Nome</label> 
      <input pInputText type="text" name="nome" #nome>
    </div>
    
    <div class="ui-g-12 ui-md-4 ui-fluid">
          <button (click)="adicionar(nome.value)" type="button" class="btn btn-primary btn-lg">Adicionar</button>
    </div>
  </div>
          
  <div class="row" style="margin-top: 20px">
    <div class="col-2" *ngFor="let funcionario of funcionarios">
      <app-funcionario-card [funcionario]="funcionario"></app-funcionario-card>
    </div>
  </div>
</div>