<app-navbar></app-navbar>

<router-outlet></router-outlet>

<!--
<app-cidades></app-cidades>

<app-navbar></app-navbar>

<app-funcionario-form></app-funcionario-form>

<app-menu></app-menu>

<app-pessoa-cadastro></app-pessoa-cadastro>

<app-funcionario-form></app-funcionario-form>

<app-lancamentos-pesquisa></app-lancamentos-pesquisa>


<app-lancamento-cadastro></app-lancamento-cadastro>

 -->

