<div class="container">
	<div class="ui-g">
		<div class="ui-g-12">
			<h1>Laçamentos</h1>
		</div>

		<div class="ui-g-12 ui-fluid">
			<label>Descrição</label>
			<input type="text" pInputText />
		</div>

		<div class="ui-g-12">
			<label style="display: block">Vencimento</label>
      <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{width: '95px'}"
        name="vencimentoInicio" [(ngModel)]="dataVencimentoInicio"></p-calendar>

			<label>Até</label>
			<p-calendar dateFormat="dd/mm/yy" [inputStyle]="{width: '95px'}"
        name="vencimentoFim" [(ngModel)]="dataVencimentoFim"></p-calendar>
		</div>

		<div class="ui-g-12">
			<button pButton type="submit" label="Pesquisar"></button>
		</div>
	</div>

	<div class="ui-g">
		<div class="ui-g-12">
			<app-lancamentos-grid [lancamentosGrid]="lancamentosLista"></app-lancamentos-grid>
		</div>

		<div class="ui-g-12">
			<a pButton routerLink="/lancamentos/novo" label="Novo Lançamento"></a>
		</div>
	</div>
</div>
