<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1> {{ editando ? 'Edição de' : 'Novo' }} Laçamentos</h1>
    </div>

    <div class="ui-g-12">
      <p-selectButton name="tipo" [options]="tipos" [(ngModel)]="lancamento.tipo" #tipo></p-selectButton>
    </div>

    <div class="ui-g-6 ui-md-3 ui-fluid">
      <label>Vencimento</label>
      <p-calendar dateFormat="dd/mm/yy"
        [inline]="false"
        [readonlyInput]="true"
        [showIcon]="true"
        name="dataVencimento"
        [(ngModel)]="lancamento.dataVencimento">
      </p-calendar>
    </div>
    <!-- inline = exibir apenas o calendario sem o campo input -->
    <!-- readonlyInput =  deixa o campo input somente leitura, o usuario pode apenas clicar no calendario -->
    <!-- showIcon = exibe um icone ao lado do calendario -->

    <div class="ui-g-6 ui-md-3 ui-fluid">
      <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
      <p-calendar dateFormat="dd/mm/yy"
      [inline]="false"
      [readonlyInput]="true"
      [showIcon]="true"
      name="dataRecebimento"
      [(ngModel)]="lancamento.dataRecebimento"></p-calendar>
    </div>

    <div class="ui-g-12 ui-md-9 ui-fluid">
      <label>Descrição {{descricao.errors | json}}</label>
      <input pInputText type="text" name="descricao" ngModel #descricao="ngModel" required minlength="5">

      <app-message [control]="descricao" error="required" text="Informe a descrição !"></app-message>

      <app-message [control]="descricao" error="minlength" text="Mínimo {{ descricao.errors?.minlength?.requiredLength }} caracteres !"></app-message>
      <!-- o ?(Operador elvis) quer dizer que se errors estiver null ele para a validacao vale para o minlength tmb  -->
    </div>

    <div class="ui-g-12 ui-md-3 ui-fluid">
      <label>Valor</label>
      <input pInputText type="text" ngModel
        name="valor"
        currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false}"
        placeholder="0,00"
        >
    </div>

    <div class="ui-g-12 ui-md-6 ui-fluid">
      <label>Categoria</label>
      <p-dropdown [options]="categorias" [autoWidth]="false" placeholder="Selecione"></p-dropdown>
    </div>

    <div class="ui-g-12 ui-md-6 ui-fluid">
      <label>Pessoa</label>
      <p-dropdown [options]="pessoas" [autoWidth]="false" [filter]="true" placeholder="Selecione"></p-dropdown>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Observação</label>
      <textarea pInputTextarea rows="3" cols="1"></textarea>
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Salvar"></button>
      <button pButton type="button" label="Novo" class="ui-button-info"></button>
      <a routerLink="/lancamentos">Voltar para a pesquisa</a>
    </div>
  </div>
</div>
