<div class="container">
	<div class="ui-g">
		<div class="ui-g-12">
			<h1>Nova Pessoa</h1>
		</div>

		<div class="ui-g-12 ui-md-12 ui-fluid">
			<label>Nome</label>
			<input pInputText type="text">
		</div>

		<div class="ui-g-12 ui-md-9 ui-fluid">
			<label>Logradouro</label>
			<input pInputText type="text"
				name="logradouro"
				ngModel
				#logradouro="ngModel"
				required>

			<app-message [control]="logradouro" error="required"
				text="Informe o logradouro !">
			</app-message>
		</div>

		<div class="ui-g-12 ui-md-3 ui-fluid">
			<label>Número</label>
			<input pInputText type="text"
			name="numero"
			ngModel
			#numero="ngModel"
			value=""

			currencyMask
			[options]="{ prefix: '',
						 precision:'',
						 thousands: '',
						 decimal: '',
						 allowNegative: false}"
			placeholder="Numero">
		</div>

		<div class="ui-g-12 ui-md-4 ui-fluid">
			<label>Complemento</label>
			<input pInputText type="text">
		</div>

		<div class="ui-g-12 ui-md-4 ui-fluid">
			<label>Bairro</label>
			<input pInputText type="text">
		</div>

		<div class="ui-g-12 ui-md-4 ui-fluid">
			<label>CEP</label>
			<input pInputText type="text">
		</div>

		<div class="ui-g-12 ui-md-6 ui-fluid">
			<label>Cidade</label>
			<input pInputText type="text">
		</div>

		<div class="ui-g-12 ui-md-6 ui-fluid">
			<label>Estado</label>
			<p-dropdown [options]="estados"
						[autoWidth]="false"
						placeholder="Selecione"
						#estado>

			</p-dropdown>
		</div>

		<div class="ui-g-12 ui-md-2 ">
			<button pButton type="submit" label="Salvar"></button>
			<button pButton type="button" label="Novo" class="ui-button-info"></button>
		</div>

		<div class="ui-g-12 ui-md-6 ui-fluid">
      <a routerLink="/lancamentos">Voltar para a pesquisa</a>
		</div>
	</div>
</div>
